.navigation {
  position: relative;
}

.navigation__list {
  .list-reset();

  @media(min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.navigation__item {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;

  @media(min-width: @tablet-width) {
    padding-right: 32px;
    padding-bottom: 30px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.navigation__link {
  color: @base-font;
  font-family: "Qanelas", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;

  @media(min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.navigation__toggle {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  top: -25px;
  right: 14px;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: @decor-blue;
  box-shadow: 0 8px 0 0 @decor-blue, 0 16px 0 0 @decor-blue;

  @media (min-width: 768px) {
    display: none;
  }
}

@media (max-width: 767px) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__list {
    position: absolute;
    top: 75px;
    right: -20px;
    width: 320px;
  }
}


.navigation--opened .navigation__toggle {
  margin-left: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 25px;
    height: 3px;
    background-color: @decor-blue;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation--opened .navigation__toggle::before {
  transform: rotate(45deg);
}

.navigation--opened .navigation__toggle::after {
  transform: rotate(-45deg);
}

.navigation--nojs .navigation__toggle {
  display: none;
}
