.page-body {
  width: 100%;
  height: auto;
  background-image: url("../img/other/apartment-background-mobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @media (min-width: @mobile-width) {
    background-size: contain;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/other/apartment-background.jpeg");
    background-size: initial;
  }

  @media (min-width: 1920px) {
    background-size: contain;
  }
}
