.slider {
  text-align: center;
}

.slider__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 50px 24px 67px;

  @media (min-width: @desktop-width) {
    padding: 76px 24px 95px;
  }
}

.slider__list {
  .list-reset();
  display: flex;
  align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;
}

.slider__item  {
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;
}

/**Photo**/

.slider__photo-small {
  width: 312px;
  height: 197px;

  @media (min-width: 1800px) {
    width: 540px;
    height: auto;
  }
}

.slider__photo-master {
  width: 161px;
  height: auto;

  @media (min-width: @desktop-width) {
    width: 280px;
  }
}

.slider__photo {
  width: 312px;
  height: 226px;

  @media (min-width: @desktop-width) {
    width: 350px;
    height: auto;

  }
}

/**Text**/

.slider__desc {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 28px;
  }
}


.slider__item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.slider__item-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  text-align: left;

  span {
    display: inline-block;

    @media (min-width: @desktop-width) {
      display: inline;
    }
  }
}


.slider__item-desc-tablet {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

/**Controls**/

.slick-dots li {
  width: 10px;
  height: 20px;

  @media (min-width: @desktop-width) {
    height: 10px;
  }
}

.slick-dots li button {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #cce1ff;
  cursor: pointer;
}

.slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #cce1ff;
  cursor: pointer;
}

.slick-dots li.slick-active button:before  {
  width: 12px;
  height: 12px;
  background-color: @decor-blue;
}

.slider__control {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #6ca9ff;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;

  &--prev {
    left: 24px;
    bottom: 50px;
  }

  &--next {
    right: 24px;
    bottom: 50px;
    transform: rotate(-180deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: @desktop-width) {
    width: 62px;
    height: 62px;

    &--prev {
      left: -12px;
      top: 50%;
    }

    &--next {
      right: -8px;
      top: 50%;
    }
  }
}


/**
.slider__wrapper .slider__control--prev  {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__wrapper .slider__control--next  {
  @media (min-width: @desktop-width) {
    display: none;
  }
}**/

